# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# migrations
migrations/

# database
dev.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store
